.content-viewer {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    bottom: 0;
}

.content-iframe {
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    border: 0;
    bottom: 0;
}

.content-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    position: absolute;
    background-color: #293742;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.local-status-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toolbar-button {
    
}

.version-icon {
    margin-left: 1rem;
}