.folder-node {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    background-color: #474756;
    margin: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    min-height: 3rem;
    cursor: pointer;
}

.folder-node:hover {
    background-color: #676776;
    transition: all 0.15s;
}

.left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    padding-left: 1rem;
}

.node-text {
    margin-left: 1rem;
}