.mini-annotations {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    background-color: #293742f1;
    height: 3rem;
    width: 100%;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.2)
}

.mini-tag {
    margin-right: 0.25rem;
}