.results-panel {
    background-color: #394752;
}

.result-path {
    color: #ffffff66;
    font-size: 0.9rem;
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
}

.result-section {
    border-bottom: 4px solid #293742;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
}

.folder-children {

}

.leaf-children {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    padding: 0.5rem;
}